# Stripe API Keys
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=

# Email Configuration (Nodemailer)
EMAIL_USER=
EMAIL_PASS=
RECEIVER_EMAIL=ranjeetrajput6696@gmail.com

# Firebase Admin (if needed for later)
# FIREBASE_PROJECT_ID=
# FIREBASE_CLIENT_EMAIL=
# FIREBASE_PRIVATE_KEY=
